<!-- Generated template for the RegisterUserComponent component -->
<div>
  <img class="rp-bg_image" src="./././assets/imgs/setting-box.png" alt="">
<div class="nit_setting_title"><span>REGISTER</span></div>
<div class="nit_setting">
  <ion-grid>
    <form [formGroup]="RegisterForm">
    <ion-row>
        <ion-col class="rp-as-range">
            <div class="rp-as-text">
              <ion-item fill="solid">
                <ion-label position="floating">User Name : </ion-label>
                <ion-input placeholder="Enter username"  name="name" formControlName="name"></ion-input>
              </ion-item>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="rp-as-range">
            <div class="rp-as-text">
              <ion-item fill="solid">
                <ion-label position="floating">Password : </ion-label>
                <ion-input  type= 'password' placeholder="Enter password" formControlName="password" name="password"></ion-input>
              </ion-item>
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="checkbox_icon">
      <ion-item>
        <ion-checkbox slot="start" formControlName="checkbox" [(ngModel)]="checkbox" name="checkbox" (ionChange)="handleChange()"></ion-checkbox>
        <ion-label>I agree to the terms and conditions</ion-label>
      </ion-item>
    </ion-row>

      </form>
      <button ion-button *ngIf="this.checkbox"  (click)="handleRegisterUser()" class="login"></button>
      <button ion-button *ngIf="!this.checkbox"   class="nologin"></button>
      <button ion-button (click)="closeModalRegister()" class="cancle"></button>
      </ion-grid>

</div>
