page-home {
     overflow: hidden;
     .scroll-content{
        display: flex;
        justify-content: center;
     }

  img.rp-landing_image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        background: transparent;
        z-index: 1;
        position: relative;
        pointer-events: none;
        bottom: 0;

    }
    .btn-login {
      color: white;
      position: absolute;
      width: 13rem;
      height: 6rem;
      top: 151px;
      background-color: #f9a737;
      font-size: 2em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      border-radius: 10px;
      border: 1px solid #2ea7db;
    }
    .btn-register {
      color: white;
      position: absolute;
      width: 13rem;
      height: 6rem;
      top: 90px;
      background-color: #f9a737;
      font-size: 2em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      border-radius: 10px;
      border: 1px solid #2ea7db;
    }
    .nit_main_img{
        position: relative;
    display: block;
    margin: auto;
    width: 400px;


    }
    .nit_button_section{
        text-align: center;
        text-align: center;
    position: absolute;
    top: 50%;
    margin-top:50px;


    .btn_add_game {
      background: transparent;
      color: red;
      padding: 0;

      ion-icon {
        font-size: 30px;
      }
    }
    }
    .nit_button_section .nit_button{
        margin-top:40px;
    }

    // Slider Style START
.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;

    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .prev-icon-custom{
    background: url(../assets/imgs/nav-icon.png) no-repeat scroll 0px 0px;
  }
  .prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .next-icon-custom{
    background: url(../assets/imgs/nav-icon.png) no-repeat scroll -32px 0px;
  }
  .next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .slider-nav{
    ion-icon{
        height: 100%;
    }
  }

  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
  }
  .swiper-slide{
    width: 20% !important;
  }
  .slider_arrow{
    width: 30px !important;
    max-width: 30px !important;
  }
  @media only screen and (max-width: 390px) {
    .swiper-slide{
      width: 100% !important;
    }
  }
  // Slider Style STOP
  .name_title {
    position: relative;
    top: -16.5rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }
}
